@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(13, 31%, 94%);
  --foreground: hsl(12, 20%, 44%);
  --secondaryBackground: hsl(20, 50%, 98%);
  --secondaryForeground: hsl(7, 20%, 60%);
  --border: hsl(14, 25%, 72%);
  --title: hsl(14, 65%, 9%);
  --price: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2 {
  color: var(--title);
}

svg:hover path {
  fill: var(--price);
}

@layer base {
  img {
    width: auto;
    height: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold lg:text-5xl;
  }
}
