@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(210, 4%, 93.9%);
  --foreground: hsl(210, 26%, 7.84%);

  --card: hsl(210, 4%, 99.9%);
  --card-foreground: hsl(210, 57%, 12.74%);

  --border: hsl(15, 96%, 42%);

  --primary: hsl(210, 4%, 9.8%);
  --primary-foreground: hsl(210, 40%, 98%);

  --secondary: hsl(15, 96%, 42%);
  --secondary-foreground: hsl(210, 40%, 98%);

  --ring: hsl(15, 96%, 42%);
}

body {
  color: var(--primary);
  background: var(--background);
}

h1,
h2,
h3 {
  color: var(--foreground);
}

svg:hover path {
  fill: var(--secondary);
}

@layer base {
  img {
    width: auto;
    height: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
